.app-body {
    display: flex;
    flex-direction: row;
}

.app-controls {
    flex: 1;
    min-width: 360px;
    font-family: sans-serif;
    font-size: smaller;
}

.app-control-box {
    padding: 15px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: thin lightgrey solid;
    user-select: none;
    background-color: #e5ecf673;
}

.app-control-box h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.app-control-box p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.app-control-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.app-control-flex .dash-dropdown {
    width: 250px;
    margin-left: 4px;
}

.app-control-slider {
    margin-top: 5px;
    /* Work around dash-core-components#829 */
    margin-bottom: -20px;
}

.app-output {
    flex: 3;
}

.figure {
    height: calc(100vh - 24px);
}

@media screen and ((max-width: 1000px) or (orientation: portrait)) {
    .app-body {
        flex-direction: column-reverse;
    }

    .app-controls {
        min-width: unset;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .app-control-box {
        flex: 1;
        min-width: 300px;
        margin-right: 15px;
    }

    .figure {
        height: calc(100vmin - 24px);
    }
}